<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comércio Eletrônico</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div th:replace="fragments/cabecalho :: cabecalho"></div>

<div class="content">
    <h2>Produtos em Destaque</h2>
    <a th:href="@{/produtos/formulario}">Cadastrar produto</a>
    <p>Confira nossas ofertas incríveis e produtos de qualidade!</p>
</div>

<div th:replace="fragments/rodape :: rodape"></div>

</body>